@font-face {
    font-family: 'meticula-bold';
    src: url('meticula-bold-webfont.woff2') format('woff2'),
         url('meticula-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}